/* Reset */

* {
  box-sizing: border-box;
  accent-color: var(--accent);
  word-wrap: anywhere;
}

/* Themes */
.material {
  --color: 0;
  --background: hsl(var(--color), 90%, 1%);
  --surface: hsl(var(--color), 14%, 7%);
  --text: hsl(var(--color), 95%, 93%);
  --hover: hsl(var(--color), 14%, 10%);
  --accent: hsl(var(--color), 95%, 88%);
  --onaccent: hsl(var(--color), 95%, 18%);
  --radius: 0.8rem;
  --imgfilter: brightness(0) saturate(100%) invert(82%) sepia(4%)
    saturate(1303%) hue-rotate(314deg) brightness(109%) contrast(99%);
  --sectionborder: none;
  --icons-background: var(--accent);
}

.next {
  --background: rgb(0, 0, 0);
  --surface: var(--background);
  --text: rgb(250, 250, 250);
  --accent: rgb(237, 237, 237);
  --onaccent: var(--background);
  --radius: 8px;
  --imgfilter: invert(1);
  --sectionborder: 3px dotted #333;
  --icons-background: var(--accent);
}

.catppuccin {
  --background: #1e1e2e;
  --surface: #181825;
  --text: #cdd6f4;
  --accent: #fab387;
  --onaccent: var(--background);
  --radius: 1rem;
  --imgfilter: brightness(0) saturate(100%) invert(85%) sepia(17%)
    saturate(393%) hue-rotate(192deg) brightness(99%) contrast(93%);
  --sectionborder: none;
  --icons-background: var(--accent);
}

.simple {
  --background: #ecf0f5;
  --surface: #fff;
  --text: #333;
  --accent: #175ddc;
  --onaccent: var(--background);
  --radius: 0.2rem;
  --imgfilter: opacity(0.8);
  --sectionborder: none;
  --icons-background: none;
}

.everforest {
  --background: #232a2e;
  --surface: #3d484d;
  --text: #d3c6aa;
  --accent: #dbbc7f;
  --onaccent: var(--surface);
  --radius: 0.8rem;
  --imgfilter: brightness(0) saturate(100%) invert(93%) sepia(5%)
    saturate(1242%) hue-rotate(356deg) brightness(89%) contrast(84%);
  --sectionborder: none;
  --icons-background: var(--accent);
}

html {
  background: var(--background);
  color: var(--text);
  accent-color: var(--accent);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color-scheme: light dark;
}

main {
  padding: 1rem;
  min-width: 50%;
  max-width: min(1400px, 98vw);
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit !important;
  color: inherit !important;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  box-shadow: 0 2px 0 0 var(--accent);
}

button,
input[type="file"]::file-selector-button,
.button {
  background: var(--accent);
  color: var(--onaccent);
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem 5rem;
  cursor: pointer;
  text-align: center;

  &:hover {
    box-shadow: none;
  }

  &.outlined {
    background: var(--background);
    color: var(--accent);
    border: var(--accent) solid 2px;
    transition: 200ms all ease-in-out;

    &:hover {
      background: var(--accent);
      color: var(--onaccent);
    }
  }
}

input[type="file"]::file-selector-button {
  margin-right: 1rem;
}

input[type="text"],
input[type="url"],
input[type="password"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 0.9rem 1.3rem;
  display: inline-block;
  border: 2px solid var(--text);
  border-radius: var(--radius);
  background: var(--background);
  color: var(--text);
  outline: none;

  &:focus {
    border: 2px solid var(--accent);
  }
}

textarea {
  min-height: min(30vh, 200px);
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 0.1rem;

    &:checked {
      background-color: var(--accent);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;

  .form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.8rem;
  }

  button {
    margin-top: 0.5rem;
    float: right;
  }
}

section {
  background: var(--surface);
  padding: 1.5rem 1rem;
  border-radius: calc(var(--radius) * 2);
  border: var(--sectionborder);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

h2 {
  margin-bottom: 0.8rem;
}

hr {
  width: 70%;
  margin: 1rem auto;
  opacity: 0.5;
}

details {
  summary {
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--surface);
  }
}

dialog {
  border: var(--sectionborder);
  padding: 1rem 2rem;
  background: var(--surface);
  border-radius: var(--radius);
  margin: auto;

  &::backdrop {
    backdrop-filter: blur(10px);
  }
}

.text-body {
  white-space: break-spaces;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 1rem;
}

.delete-item {
  min-width: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.wrapper a:hover {
  box-shadow: none;
}

#navlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
  gap: 2rem;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    filter: var(--imgfilter);
  }
}

#top-actions {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;

  form {
    width: auto;

    img {
      height: 1.5rem;
      width: auto;
    }

    button {
      padding: 0.5rem;
      width: auto;
      background: var(--icons-background);
    }
  }
}

#settings {
  margin-bottom: 1rem;
  align-items: start;

  form,
  #delete {
    min-width: 0;
    max-width: 80vw;
  }

  #account-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  #delete-account-form {
    margin-top: 1rem;
    display: flex;

    button {
      width: max-content;
      align-self: end;
    }
  }

  #totp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .qr-code {
    max-width: 100%;
  }

  #oidc-delete {
    margin-top: 1rem;
  }
}

#auth-buttons #register {
  order: 0;
}

#auth-buttons #login {
  order: 1;
}

#upload-dl {
  margin-top: 3rem;
}

.content-container {
  display: flex;
  position: relative;
  align-items: start;
  height: 100%;
}

.content-container.pinned {
  border: 2px var(--accent) solid;
}

.content-container h3 {
  padding-right: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-right-container {
  padding: 0;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  display: flex;
  gap: 0.5rem;

  form {
    width: auto;
  }

  img {
    height: 1.8rem !important;
  }

  button,
  .button {
    display: block;
    padding: 0.5rem;
    width: max-content;
    margin-left: auto;
    margin-top: 0;
  }
}

.delete-container form {
  width: auto;
}

.bookmark-container {
  .bookmark-details {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      border-radius: var(--radius);
      margin-bottom: 1rem;
    }
  }

  .text-body {
    padding: 0.5rem 0;
  }
}

.new-container {
  button,
  .button {
    padding: 0.5rem;
    float: right;
  }

  img {
    height: 1.8rem !important;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin: 0;
  }
}

.quiz-choice {
  width: 100%;
}

#quiz-solution {
  .green {
    color: green;
  }

  .red {
    color: red;
  }
}

pre.chroma {
  padding: 1rem;
  border-radius: var(--radius);
}

#single-code-snippet {
  #view-raw {
    margin-bottom: 1rem;
  }
}

#error {
  #error-code {
    font-size: 5rem;
    margin: 0;
  }

  a {
    margin-top: 2rem;
  }
}
