{{ define "head" }}
<title>Login/Register</title>
{{ end }} {{ define "body" }}
<h2>Login/Register</h2>
<form method="post">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <input type="text" name="totp" placeholder="TOTP (optional)" />
  {{ if .RegistrationEnabled }}
  <details id="captcha-container">
    <summary>Captcha (for registration only)</summary>
    <img src="/auth/captcha" type="image/png" />
    <input type="text" name="captcha" placeholder="Captcha answer" />
    <input name="redirect" value="{{ .Redirect }}" hidden />
  </details>
  {{ end }}
  <div id="auth-buttons" class="form-buttons">
    <button id="login" type="submit" formaction="/auth/login">Login</button>
    {{ if .RegistrationEnabled }}
    <button id="register" type="submit" formaction="/auth/register">
      Register
    </button>
    {{ end }}
  </div>
  {{ if .OIDCAvailable }}
  <a href="/oidc/login" class="button outlined">Login with OIDC</a>
  {{ end }}
</form>
{{ end }}
