<!doctype html>
<html lang="en" {{ template "theme" . }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="Share anything you want (files, pastes, ...) temporarily." />
    <meta property="og:description" content="Share anything you want (files, pastes, ...) temporarily." />
    <meta property="og:title" content="Shair" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/static/favicon.svg" />
    <link rel="icon" type="image/png" sizes="180x180" href="/static/favicon-180x180.png" />
    <link rel="apple-touch-icon" type="image/png" href="/static/favicon-180x180.png" />
    {{ template "head" . }}
  </head>
  <body>
    <main>{{ template "body" . }}</main>
  </body>
</html>
