{{ define "head" }}<title>Blog</title>{{ end }} {{ define "body" }}
<h2>Blog</h2>
<div id="blog" class="wrapper">
  {{- range .Posts -}}
  <a href="/blog/{{ .Reference }}/">
    <section class="delete-container">
      <h3>{{ .Title }}</h3>
      <p>{{ .Body }}</p>
      {{ if $.Admin }}
      <form class="delete-form" action="/blog/delete/{{ .ID }}" method="post">
        <button type="submit"><img src="/static/trash.svg" /></button>
      </form>
      {{ end }}
    </section>
  </a>
  {{- end -}}
</div>
{{ if .Admin }}
<form id="create-item" action="/blog/new" method="post">
  <input type="text" name="title" placeholder="Title" required />
  <textarea name="body" placeholder="Body" required></textarea>
  <button type="submit">Create</button>
</form>
{{ end }} {{ end }}
