{{ define "head" }}<title>Bookmarks</title>{{ end }} {{ define "body" }}
<div class="space-between">
  <a href="/"
    ><h2>
      {{ if .Archived }}Archived {{ end }}Bookmarks
      <i>({{ len .Bookmarks }})</i>
    </h2></a
  >
  {{ if .Archived }}
  <a class="button" href="/bookmarks/">View bookmarks</a>
  {{ else }}
  <a class="button" href="/bookmarks/archived/">View archived bookmarks</a>
  {{ end }}
</div>

<div id="bookmarks" class="wrapper">
  {{- range .Bookmarks -}}
  <section class="content-container bookmark-container">
    <a href="{{ .Url }}" target="_blank" class="bookmark-details">
      {{ if .Thumbnail }}
      <img src="{{ .Thumbnail }}" onerror="this.style.display = 'none'" /> {{
      end }}
      <h3>{{ .Title }}</h3>
      <p class="text-body">{{ .Description }}</p>
    </a>
    <div class="top-right-container">
      <button type="submit" popovertarget="update-dialog-{{ .ID }}">
        <span title="Update bookmark"><img src="/static/edit.svg" /></span>
      </button>
      <form action="/bookmarks/archive/{{ .ID }}" method="post">
        <button type="submit">
          <img
            src="{{ if .Archived }}/static/unarchive.svg{{ else }}/static/archive.svg{{ end }}"
          />
        </button>
      </form>
      <details>
        <summary>
          <span class="button"><img src="/static/trash.svg" /></span>
        </summary>
        <form action="/bookmarks/delete/{{.ID}}" method="post">
          <button type="submit">Confirm</button>
        </form>
      </details>
    </div>
  </section>

  <dialog id="update-dialog-{{ .ID }}" popover>
    <h2>Update bookmark</h2>
    <form action="/bookmarks/update/{{ .ID }}" method="post">
      <input
        type="url"
        pattern="https?://.*"
        name="url"
        placeholder="URL"
        value="{{ .Url }}"
        required
      />
      <input
        type="text"
        name="title"
        placeholder="Title (optional)"
        value="{{ .Title }}"
      />
      <input
        type="text"
        name="description"
        placeholder="Description (optional)"
        value="{{ .Description }}"
      />
      <div class="form-buttons">
        <button type="button" popovertarget="update-dialog-{{ .ID }}">
          Cancel
        </button>
        <button type="submit">Update</button>
      </div>
    </form>
  </dialog>
  {{- end -}}
</div>

<div class="new-container">
  <button popovertarget="new-dialog">
    <span title="New bookmark"><img src="/static/new.svg" /></span>
  </button>
</div>

<dialog id="new-dialog" popover>
  <h2>New bookmark</h2>
  <form id="create-item" action="/bookmarks/new" method="post">
    <input
      type="url"
      pattern="https?://.*"
      name="url"
      placeholder="URL"
      required
    />
    <input type="text" name="title" placeholder="Title (optional)" />
    <input
      type="text"
      name="description"
      placeholder="Description (optional)"
    />
    <div class="form-buttons">
      <button type="button" popovertarget="new-dialog">Cancel</button>
      <button type="submit">Create</button>
    </div>
  </form>
</dialog>
{{ end }}
