{{ define "head" }}<title>Code snippets</title>{{ end }} {{ define "body" }}
<a href="/"
  ><h2>Code snippets <i>({{ len .Snippets }})</i></h2></a
>
<div id="code-snippets" class="wrapper">
  {{- range .Snippets -}}
  <section class="content-container">
    {{ if .Title }}
    <h3>{{ .Title }} {{ if .Lang }}<i>({{ .Lang }})</i>{{ end }}</h3>
    {{ end }} {{ .Formatted }}
    <div class="top-right-container">
      <form action="/code/view/{{ .ID }}?token={{ .Token }}" method="post">
        <button type="submit"><img src="/static/view.svg" /></button>
      </form>
      <button popovertarget="update-dialog-{{ .ID }}">
        <span title="Update snippet"><img src="/static/edit.svg" /></span>
      </button>
      <details>
        <summary>
          <span class="button"><img src="/static/trash.svg" /></span>
        </summary>
        <form action="/code/delete/{{.ID}}" method="post">
          <button type="submit">Confirm</button>
        </form>
      </details>
    </div>
  </section>

  <dialog id="update-dialog-{{ .ID }}" popover>
    <h2>Update snippet</h2>
    <form action="/code/update/{{ .ID }}" method="post">
      <input
        type="text"
        name="title"
        placeholder="Title"
        value="{{ .Title }}"
      />
      <textarea name="raw" placeholder="Raw" required>{{ .Raw }}</textarea>
      <div class="form-buttons">
        <button type="button" popovertarget="update-dialog-{{ .ID }}">
          Cancel
        </button>
        <button type="submit">Update</button>
      </div>
    </form>
  </dialog>
  {{- end -}}
</div>

<div class="new-container">
  <button popovertarget="new-dialog">
    <span title="New code snippet"><img src="/static/new.svg" /></span>
  </button>
</div>

<dialog id="new-dialog" popover>
  <h2>New code snippet</h2>
  <form id="create-item" action="/code/new" method="post">
    <input type="text" name="title" placeholder="Title" />

    <input type="text" name="lang" list="languages" placeholder="Language" />
    <datalist id="languages">
      {{ range .Languages }}
      <option value="{{ . }}"></option>
      {{ end }}
    </datalist>

    <textarea name="raw" placeholder="Raw" required></textarea>
    <div class="form-buttons">
      <button type="button" popovertarget="new-dialog">Cancel</button>
      <button type="submit">Create</button>
    </div>
  </form>
</dialog>
{{ end }}
