{{ define "head" }}<title>{{ .Title }}</title>{{ end }} {{ define "body" }}
<div id="single-code-snippet">
  <div class="space-between">
    <a href="/"
      ><h2>{{ .Title }} {{ if .Lang }}<i>({{ .Lang }})</i>{{ end }}</h2></a
    >
    <a
      id="view-raw"
      class="button"
      href="/code/raw/{{ .ID }}?token={{ .Token }}"
      >Raw</a
    >
  </div>
  {{ .Formatted }}
</div>
{{ end }}
