{{ define "head" }}<title>{{ .Error }}</title>{{ end }} {{ define "body" }}
<section id="error">
  <h1 id="error-code">{{ .Code }}</h1>
  <span>{{ .Error }}</span>
  <a class="button" href="/">Return to home</a>
</section>
{{ end }}
