{{ define "head" }}
<title>Gallery</title>
{{ end }} {{ define "body" }}
<div class="space-between">
  <h2>Gallery</h2>
  <a href="/gallery/dia/">Diashow</a>
</div>
<div id="gallery">
  {{ range .Images }}
  <span>
    <img src="/images/{{ .Name }}" />
    {{- if $.Admin -}}
    <form action="/gallery/delete/{{ .Name }}" method="post" id="delete">
      <button type="submit"><img src="/static/trash.svg" /></button>
    </form>
    {{- end -}}
  </span>
  {{ end }}
</div>
{{ if .Admin }}
<section id="upload-dl">
  <form action="/gallery/" method="post" enctype="multipart/form-data">
    <h3>Upload</h3>
    <input type="file" name="file" />
    <button type="submit">Upload</button>
  </form>
</section>
{{ end }} {{ end }}
