{{ define "head" }}<title>Welcome to Shair</title>{{ end }} {{ define "body" }}

<section>
  <h1>Welcome to <i>Shair</i></h1>
  <div id="navlinks">
    <a href="/paste/">
      <img src="/static/paste.svg" />
      <p>Paste</p>
    </a>
    <a href="/upload/">
      <img src="/static/upload.svg" />
      <p>Share file</p></a
    >
    <a href="/notes/">
      <img src="/static/notes.svg" />
      <p>Notes</p></a
    >
  </div>
  <div id="account-actions">
    <form action="/user/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <form action="/user/delete" method="post">
      <button type="submit">Delete Account</button>
    </form>
  </div>
</section>
{{ end }}
