{{ define "head" }}<title>Share anything</title>{{ end }} {{ define "body" }}
<section id="home">
  <h1>Welcome to <i>Shair</i></h1>
  <div id="navlinks">
    <a href="/paste/">
      <img src="/static/paste.svg" />
      <p>Paste</p>
    </a>
    <a href="/upload/">
      <img src="/static/upload.svg" />
      <p>Share file</p></a
    >
    <a href="/notes/">
      <img src="/static/notes.svg" />
      <p>Notes</p></a
    >
    <a href="/bookmarks/">
      <img src="/static/bookmarks.svg" />
      <p>Bookmarks</p></a
    >
    <a href="/code/">
      <img src="/static/code.svg" />
      <p>Code snippets</p></a
    >
    <a href="/poll/">
      <img src="/static/poll.svg" />
      <p>Polls</p></a
    >
  </div>
  <div id="top-actions">
    {{ if .LoggedIn }}
    <form action="/user/logout" method="post">
      <button type="submit" title="Logout">
        <img src="/static/logout.svg" />
      </button>
    </form>
    {{ else }}
    <form action="/auth/" method="post">
      <button type="submit" title="Login/Register">
        <img src="/static/login.svg" />
      </button>
    </form>
    {{ end }}
    <form action="/settings" method="post">
      <button type="submit" title="Settings">
        <img src="/static/settings.svg" />
      </button>
    </form>
  </div>
</section>
{{ end }}
