{{ define "head" }}<title>Welcome to Shair</title>{{ end }} {{ define "body" }}
<section id="home">
  <h1>Welcome to <i>Shair</i></h1>
  <div id="navlinks">
    <a href="/paste/">
      <img src="/static/paste.svg" />
      <p>Paste</p>
    </a>
    <a href="/upload/">
      <img src="/static/upload.svg" />
      <p>Share file</p></a
    >
    <a href="/notes/">
      <img src="/static/notes.svg" />
      <p>Notes</p></a
    >
    <a href="/downloads/">
      <img src="/static/downloads.svg" />
      <p>Downloads</p></a
    >
    <a href="/gallery/">
      <img src="/static/gallery.svg" />
      <p>Gallery</p></a
    >
    <a href="/blog/">
      <img src="/static/blog.svg" />
      <p>Blog</p></a
    >
  </div>
  <div id="options">
    <form action="/theme" method="post">
      <h3>Theme</h3>
      <select name="theme">
        <option value="simple">Simple</option>
        <option value="catppuccin">Catppuccin</option>
        <option value="everforest">Everforest</option>
      </select>
      <button type="submit">Set</button>
    </form>
    <div id="account-actions">
      <h3>Account</h3>
      <form action="/user/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <form action="/totp" action="/totp">
        <button type="submit">TOTP</button>
      </form>
      <form action="/user/delete" method="post">
        <button type="submit">Delete Account</button>
      </form>
    </div>
  </div>
</section>
{{ end }}
