{{ define "head" }}<title>New paste</title>{{ end }} {{ define "body" }}
<section id="newpaste">
  <h2>New Paste</h2>
  <form method="post" action="/paste/">
    <input type="text" name="title" placeholder="Title" required />
    <textarea name="body" placeholder="Body" required></textarea>
    <div class="checkbox-container">
      <input type="checkbox" id="encrypt" name="encrypt" />
      <label for="encrypt">Encrypt</label>
    </div>
    <div>
      <button type="submit">Create</button>
    </div>
  </form>
</section>
{{ end }}
