{{ define "head" }}<title>New poll</title>{{ end }} {{ define "body" }}
<section>
  <h2>New poll</h2>
  <form action="/poll/new" method="post">
    <input type="text" name="title" placeholder="Title" required />
    <input type="text" name="description" placeholder="Description" required />
    <p>Possible choices</p>
    {{- range $i := $.ChoicesIter }}
    <input type="text" name="choice_{{ $i }}" />
    {{ end }}
    <button type="submit">Create</button>
  </form>
</section>
{{ end }}
