{{ define "head" }}<title>New quiz</title>{{ end }} {{ define "body" }}
<section>
  <h2>New quiz options</h2>
  <form action="/quiz/new" method="post">
    <input type="text" name="title" placeholder="Title" required />
    <input type="text" name="description" placeholder="Description" required />
    <input
      type="number"
      name="questioncount"
      placeholder="Amount of questions"
      min="1"
      max="50"
      required
    />
    <button type="submit">Create</button>
  </form>
</section>
{{ end }}
