{{ define "head" }}<title>Notes</title>{{ end }} {{ define "body" }}
<a href="/"
  ><h2>Notes <i>({{ len . }})</i></h2></a
>
<div id="notes" class="wrapper">
  {{- range . -}}
  <section class="content-container {{ if .Pinned }}pinned{{ end }}">
    {{ if .Title }}
    <h3>{{ .Title }}</h3>
    {{ end }}
    <p class="text-body">{{ .Formatted }}</p>
    <div class="top-right-container">
      <form action="/notes/pin/{{ .ID }}" method="post">
        <button type="submit"><img src="/static/pin.svg" /></button>
      </form>
      <button popovertarget="update-dialog-{{ .ID }}">
        <span title="Update note"><img src="/static/edit.svg" /></span>
      </button>
      <details>
        <summary>
          <span class="button"><img src="/static/trash.svg" /></span>
        </summary>
        <form action="/notes/delete/{{ .ID }}" method="post">
          <button type="submit">Confirm</button>
        </form>
      </details>
    </div>
  </section>

  <dialog id="update-dialog-{{ .ID }}" popover>
    <h2>Update note</h2>
    <form id="create-item" action="/notes/update/{{ .ID }}" method="post">
      <input
        type="text"
        name="title"
        placeholder="Title"
        value="{{ .Title }}"
      />
      <textarea name="body" placeholder="Body" required>{{ .Body }}</textarea>
      <div class="form-buttons">
        <button type="button" popovertarget="update-dialog-{{ .ID }}">
          Cancel
        </button>
        <button type="submit">Update</button>
      </div>
    </form>
  </dialog>
  {{- end -}}
</div>

<div class="new-container">
  <button popovertarget="new-dialog">
    <span title="New note"><img src="/static/new.svg" /></span>
  </button>
</div>

<dialog id="new-dialog" popover>
  <h2>New note</h2>
  <form id="create-item" action="/notes/new" method="post">
    <input type="text" name="title" placeholder="Title" />
    <textarea name="body" placeholder="Body" required></textarea>
    <div class="form-buttons">
      <button type="button" popovertarget="new-dialog">Cancel</button>
      <button type="submit">Create</button>
    </div>
  </form>
</dialog>
{{ end }}
