{{ define "head" }}<title>Notes</title>{{ end }} {{ define "body" }}
<h2>Notes</h2>
<div id="notes" class="wrapper">
  {{- range . -}}
  <section class="delete-container">
    <h5>{{ .Title }}</h5>
    <p>{{ .Body }}</p>
    <form class="delete-form" action="/notes/delete/{{.ID}}" method="post">
      <button type="submit"><img src="/static/trash.svg" /></button>
    </form>
  </section>
  {{- end -}}
</div>
<form id="create-item" action="/notes/new" method="post">
  <input type="text" name="title" placeholder="Title" required />
  <textarea name="body" placeholder="Body" required></textarea>
  <button type="submit">Create</button>
</form>
{{ end }}
