{{ define "head" }}<title>{{ .Poll.Title }}</title>{{ end }} {{ define "body" }}
<section>
  <h3>{{ .Poll.Title }}</h3>
  <p>{{ .Poll.Description }}</h3>
  <form method="post">
    {{- range $i, $choice := .Poll.Choices }}
    <div>
      {{ if not $.AlreadyVoted }}
      <input type="radio" id="choice_{{ $i }}" name="selection" value="{{ $i }}" required>
      {{ end }}
      <label for="choice_{{ $i }}">{{ $choice }} ({{ index $.Poll.Votes $i }} votes)</label>
    </div>
    {{ end }}
    {{ if not .AlreadyVoted }}
    <button type="submit">Vote</button>
    {{ end }}
  </form>
</section>
{{ end }}
