{{ define "head" }}<title>Settings</title>{{ end }} {{ define "body" }}
<a href="/"><h2>Settings</h2></a>
<section id="settings">
  <form action="/settings/theme" method="post">
    <h3>Theme</h3>
    <select name="theme">
      <option value="material">Material</option>
      <option value="next">Next</option>
      <option value="simple">Simple</option>
      <option value="catppuccin">Catppuccin</option>
      <option value="everforest">Everforest</option>
    </select>
    <button type="submit">Set</button>
  </form>
  {{ if .TOTPSecret }}
  <div id="account-actions">
    <h3>TOTP</h3>
    <div id="totp-container">
      <div id="qr-container">
        <img
          class="qr-code"
          src="/user/totp/qr?url={{ .TOTPQrCodeUrl }}"
          alt="QR Code"
        />
        <h3>{{ .TOTPSecret }}</h3>
      </div>
      <div>
        <form method="post" action="/user/totp/validate">
          <input
            type="text"
            name="validation"
            placeholder="Verification Code"
            required
          />
          <input
            type="text"
            name="secret"
            value="{{ .Secret }}"
            hidden
            style="display: none"
          />
          <button type="submit">Validate</button>
        </form>
        <form method="post" action="/user/totp/disable">
          <button type="submit">Disable</button>
        </form>
      </div>
    </div>
  {{ end }}
  {{ if .LoggedIn }}
    <h3>Account</h3>
    <span id="auth-token">Auth token (one year validality): <i>{{ .AuthToken }}</i></span>

    <details>
      <summary>
        <p class="button">Delete Account</p>
      </summary>
      {{ if .OIDC }}
      <a id="oidc-delete" class="button" href="/oidc/delete">Confirm identity and delete account</a>
      {{ else }}
      <form action="/user/delete" method="post" id="delete-account-form">
        <input type="text" name="password" placeholder="Password">
        <button type="submit">Confirm</button>
      </form>
      {{ end }}
    </details>
  </div>
  {{ end }}
</div>
{{ end }}
