{{ define "head" }}<title>Success</title>
{{ end }} {{ define "body" }}
<section>
  <h1>Successfully created!</h1>
  <hr />
  <img class="qr-code" src="/qr?url={{.EncodedUrl}}" />
  <hr />
  <h3 class="token">{{.Token}}</h3>
  <div class="btn-container">
    <a class="button" href="/">Home</a>
    <a class="button" href="{{.VisitUrl}}">Visit</a>
    {{ if .DownloadUrl }}
    <a class="button" href="{{.DownloadUrl}}" download>Download</a>
    {{ end }}
  </div>
</section>
{{ end }}
